html, body, #root{
	margin:0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color:#014e62
}
#side {
  background-color:gray;
  width:10%;
  height: 100%;
  float: left;
}
#statistics{
	width:90%;
  height: 20%;
  float: right;
}
#pie{
	width: 90%;
  height: 40%;
  float: right;
}
#bar{
	width: 90%;
  height: 40%;
  float: right;
}
#statistics > div{
	background-color: white;
  display: inline-block;
  width: 19.4%;
  height: 98%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  margin: 0.5% 0% 0% 0.5%;
}
#pie > div {
  background-color: white;
  display: inline-block;
  width: 32%;
  height: 98%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  margin: 0.5% 0% 0% 1%;
}
#bar > div {
  background-color:white;
  display: inline-block;
  width: 48.5%;
  height: 97%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
  margin: 0.5% 0% 0.5% 1%;
}
#statistics > div > div:first-child {
  line-height: 10vh;
  font-size: 2vw;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 600;
  color: white;
}
#statistics > div > div:last-child {
  line-height: 10vh;
  font-size: 2.5vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: 600;
}
#pie > div > div:first-child {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  padding: 1% 0%;
}
#pie > div > div:last-child {
  height: 85%;
}
#bar > div > div:first-child {
  width: 100%;
  height: 15%;
  font-size: 2vw;
  padding: 1% 0%;
}
#bar > div > div:last-child {
  height: 85%;
  padding: 0% 1%;
}
@media only screen and (max-width: 600px) {
  #side {
    display: none;
  }
  html, body, #root {
    overflow-y: auto;
  }
  #pie {
    height: 90%;
    display: grid;
  }
  #pie > div {
    width: 100%;
  }
  #bar {
    display: grid;
  }
  #bar > div {
    width: 100%;
  }
}